<!DOCTYPE html>
<html lange="'en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Document</title>
    
    </head>
    <body>
        <form action="{%  url about_insert %}" method="POST">
            {% csrf_token %}
            <label for="">contuct</label>
            <input type="text" name="contuct"><br>
            <label for="">description</label>
            <input type="text" name="description"><br>
            <label for="">email</label>
            <input type="email" name="email"><br>
            <label for="">fb</label>
            <input type="text" name="fb"><br>
            <label for="">phone</label>
            <input type="number" name="phone"><br>
            <label for="">git</label>
            <input type="text" name="git"><br>
            <input type="submit">

        </form>
    </body>
</html>