<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './asset/css/about.css' %}">
</head>
<body>
    <h1>Education Information</h1>
    <form action="{% url 'education_insert' %}" method="POST">
        {% csrf_token %}
        <label for="">Degree</label>
        <input type="text" name="degree"><br><br>
        <label for="">Institute</label>
        <input type="text" name="institute"><br><br>
        <label for="">Session</label>
        <input type="text" name="session"><br><br>
        <label for="">Description</label>
        <input type="text" name="description"><br><br>
        <label for="">Result</label>
        <input type="text" name="result"><br><br>
        <input type="submit" name="submit" value="submit"><br><br>
    </form><h2>HTML Table</h2>
    <table>
        <tr>
            <th>SL</th>
            <th>Degree</th>
            <th>Institute</th>
            <th>Session</th>
            <th>Description</th>
            <th>Result</th>
            <th>Action</th>
        </tr>
        {% for i in education_d %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td> {{i.Degree}}</td>
            <td>{{i.Institute}}</td>
            <td>{{i.Session}}</td>
            <td>{{i.Description}}</td>
            <td>{{i.Result}}</td>
            <td><a href="{% url 'education_edit' i.id %}">Edit</a><br> 
                <a href="{% url 'education_delete' i.id %}">Delete</a></td>
        </tr>
        {% endfor %}

      </table>
    </body>



</html>