<!DOCTYPE html>
<html>
    <head>
        <title>
            
                This is my properties
        </title>
    </head>
    <body>
        <center>
        <h1>welcome to my home</h1><hr>
        <img src="" alt="tyt">
        </center>
        <h2>Introduction</h2><hr>
        </center>
        <p><b>Web development</b>, <del>300</del>also known as website development, refers to the tasks associated with creating, building, and maintaining websites and web applications that run online on a browser. It may, however, also include web design, web programming, and database management.</p>
        <p><h2><font size="2" face="times" color="red">This is me</font></p></h2>
        <p align="right">this is right</p>
        <p><u>This text is underline</u></p>
        <p><strong>This text is strong</strong></p> 
        <table border="1" width="200"><tbody>
            <center>
            <caption><strong>Student information</strong></caption>
            <tr><th>Roll</th><th>Name</th><th>Result</th></tr>
            <tr><td>10</td><td>shakib</td><td>5.00</td></tr>
            <tr><td>11</td><td>Ekram</td><td>5.00</td></tr>
            <tr><td>10</td><td>Rafi</td><td>4.80</td></tr>
            </center>
            </tbody>

        </table>
        <ol>
            <li>
                number1
            </li>
            <li>
                number2
            </li>
            <li>
                number3
            </li>
        </ol>
        <ul type="*">  
            <li>name1</li>
            <li>name2</li>
        </ol></ul></br>
        <form action="">
            <label for="">First Name:</label>
            <input type="text">
            <label for="">Last Name:</label>
            <input type="text">
            <label for="">Phone number:</label>
            <input type="number">
            <label for="">Email:</label>
            <input type="email"></br>
            <label for="">Skills</label></br>
            <input type="checkbox">HTML</input></br>
            <input type="checkbox">CSS</input></br>
            <input type="checkbox">PYTHON</input></br>
            <input type="checkbox">JAVA script</input></br>
            <label for="">Gender</label></br>
            <input type="radio" name="gender">Male</input></br>
            <input type="radio" name="gender">Female</input></br>
            <label for="">Country</label><br>
            <select name="" id="">
                <option value="">Selct your country</option>
                <option value="">Bangladesh</option>
                <option value="">Canada</option>
                <option value="">America</option>
            </select></br>
            <input type="submit">
            
    
        </form>


    </body>
    
</html>