<!DOCTYPE html>
<html lange="'en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewsport" content="width device,initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'assets/css/about.css' %}">

    </head>
    <body>
        <h1>About Information Tittle</h1>
        <form action="{% url 'about_update' %}" method="POST">
            {% csrf_token %}
            <label for="">name</label>
            <input type="text" name="name" value="{{d.name}}"><br><br>
            <input type="hidden" value="{{d.id}}" name="uid">
            <label for="">Description</label>
            <input type="text" name="desc"><br><br>
            <label for="">phone</label>
            <input type="text" name="phone"><br><br>
            <label for="">email</label>
            <input type="text" name="email"><br><br>
            <label for="">fb</label>
            <input type="text" name="fb"><br><br>
            <label for="">github</label>
            <input type="text" name="github"><br><br>
            <label for="">gmail</label>
            <input type="text" name="gmail"><br><br>
            <input type="submit" name="submit" value="Edit"><br><br>
    </body>
</html>